# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build Directories and Artifacts
build/
dist/
psip_build/
CMakeFiles/
.cache/
.vscode/

# Logs
*.log
*_log.txt
strace_output.txt

# Keys
*.pem
