{
    "RtpStartPort": 50000,
    "RtpPoolSize": 20,
    "RtpIp": "@CMP_IP@",
    "ServerIp": "0.0.0.0",
    "ServerPort": 9000,
    "EnableDtmfPtt": true,
    "DtmfPushDigit": "*",
    "DtmfReleaseDigit": "#",
    "CspIp": "@CSP_IP@",
    "CspPort": 9001
}