{
    "RtpStartPort": 50000,
    "RtpPoolSize": 20,
    "PttRtpStartPort": 52000,
    "PttRtpPoolSize": 10,
    "PttFloorStartPort": 54000,
    "RtpWorkerCount": 4,
    "RtpIp": "@CMP_IP@",
    "ServerIp": "0.0.0.0",
    "ServerPort": 9000,
    "EnableDtmfPtt": true,
    "DtmfPushDigit": "*",
    "DtmfReleaseDigit": "#",
    "CspIp": "@CSP_IP@",
    "CspPort": 9001,
    "SessionTimeout": 600,
    "LogDir": "log",
    "LogMaxSizeMB": 10,
    "LogMaxFiles": 5,
    "LogLevel": "INFO"
}